.light_mode {
    color:azure;
    background-color: grey;
}
p {
    font-size: 1.5rem;
}
div {
    font-size: 1.5rem;
}
input {
    border-radius: 6px;
}
textarea {
    border-radius: 8px;
    border:azure;
    border-style: solid;
}
button.light_mode {
    background-color: azure;
    color:grey;
    padding: 25px;
    border-radius: 6px;
    font-size: 1.5rem;
}